body {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.operations {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 2px;
}

.vert-layout {
    display: flex;
    gap: 7px;
}

.display {
    /* background-color: rgb(201, 219, 240); */
}

.numbers {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#calc-body {
    background-color: rgb(214, 214, 234);
    border: 2px solid white;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 5px;
    /* width: 170px;
    height: 250px; */
    justify-content: space-evenly;
    align-items: center;
}

#right-line {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

button {
    background-color: azure;
    border-radius: 7px;
    /* padding: 2px; */
    border: solid gray 2px;
    transition-duration: 0.5s;
}

button:hover {
    background-color: cadetblue;
    color: aliceblue;
}